/********** Template CSS **********/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

img.animated.pulse {
    animation-duration: 5s;
}

/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;

}

.btn.btn-primary {
    color: var(--bs-white);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/


.sticky-top {
    top: -150px;
    transition: .5s;
}

/* From Uiverse.io by cssbuttons-io */  


 .my-button  {
    --color: #26ad0b;
    font-family: inherit;
    display: inline-block;
    width: 7em;
    height: 2em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 15px;
    border-radius: 6px;
    color: var(--color);
      opacity: 1;
      border-color: rgba(0, 0, 0, 0);
      border: 0px;
  }
  .navbar .my-button  {

  }
  
  .my-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   
  }
  
  .my-button:hover {
    color: #fff;
  }
  
  .my-button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  .my-button:hover:before {
    top: -30px;
    left: -30px;
  }
  

  
  

.navbar {
    padding: 14px  !important;
    height: 75px;

}

.navbar .navbar-nav .nav-link {
    margin-right: 15px;
    padding: 0;
    color: var(--bs-dark);
    font-weight: 500;
    transition: .5s;
    outline: none;
    text: 19px;

}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--bs-white);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        padding: 0 15px;
        background: var(--bs-primary);
    }

    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Hero Header ***/
.hero-header {
    position: relative;
    margin-top: -85px;
    padding-top: 12rem;
    padding-bottom: 6rem;

    background-size: cover;
}

.hero-header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.hero-header .container {
    position: relative;
    z-index: 1;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--bs-light);
}


/*** Feature ***/
.feature-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    
}

.feature-item .border {
    position: relative;

    z-index: 1;
    border-radius: 5%;
}


/*** Deal ***/
.deal {
    position: relative;
    background: url(../img/bg.png) center center no-repeat;
    background-size: cover;
}

.deal::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .1);
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.deal .bg-white {
    position: relative;
    z-index: 1;
    border-radius: 20px;
}

.deal .cdt span {
    display: block;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    text-transform: capitalize;
    border-radius: 20px;
}


/*** How To Use ***/
.how-to-use {
    position: relative;
    background: url(../img/bg.png) center center no-repeat;
    background-size: cover;
}

.how-to-use::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .1);
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.how-to-use .container {
    position: relative;
    z-index: 1;
}

.how-to-use .border {
    border-color: rgba(255, 255, 255, .2) !important;
}


/*** Product ***/
.product-item {
    transition: .1s;
}

.product-item:hover {
    border-width: 0 !important;
    box-shadow: 0 0 35px rgba(144, 188, 121, .25);
}

.product-item:hover a.btn {
    color: #fff;
    background: #6cef4d;
}


/*** Testimonial ***/
.testimonial {
    position: relative;
    background: url(../img/bg.png) center center no-repeat;
    background-size: cover;
}

.testimonial::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .1);
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.testimonial .testimonial-carousel {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item img {
    width: 120px;
    height: 120px;
    border-color: rgba(255, 255, 255, .2) !important;
    margin: 0 auto 20px auto;
    border-radius: 100px;
}

.testimonial-carousel .owl-dots {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--bs-dark);
}


/*** Blog ***/
.blog-item {
    transition: .1s;
}

.blog-item:hover {
    border-width: 0 !important;
    box-shadow: 0 0 35px rgba(144, 188, 121, .25);
}

.blog-item:hover a.btn {
    color: var(--bs-white);
    background: var(--bs-primary);
}


/*** Contact ***/
.contact-info-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.contact-info-item .border {
    position: relative;
    border-color: rgba(255, 255, 255, .2) !important;
    z-index: 1;
}


/*** Newsletter ***/
.newsletter {
    position: relative;
    background: url(../img/bg.png) center center no-repeat;
    background-size: cover;
}

.newsletter::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .1);
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.newsletter .container {
    position: relative;
    z-index: 1;
}

.newsletter .form-control {
    background: rgba(255, 255, 255, .3);
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--bs-body);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    color: var(--bs-primary);
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    border-top: 3px solid var(--bs-light);
}

.footer .copyright a {
    color: var(--bs-body);
}

.footer .copyright a:hover {
    color: var(--bs-primary);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 3px solid var(--bs-light);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #012970;
  }
  
  .hero h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
  }

/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/
.values .box {
    padding: 30px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    background-color: #f8f6f6;
    border-radius: 5%;
  }
  
 
  
  .values .box h3 {
    font-size: 24px;
    color: #6cef4d  ;
    font-weight: 700;
    margin-bottom: 18px;
  }
  
  .values .box:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  }

  
  .dots-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
 
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.whatsapp-float:hover {
    background-color: #1da851;
    color: #ffffff;
}

.product-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 20px 0;
    max-width: 100%;
}

.product-item-wrapper {
    display: flex;
    flex-direction: row;
}

.product-item {
    flex: 0 0 25%; /* Para mostrar 4 productos al mismo tiempo */
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #6cef4d;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

/* Media queries para hacerlo responsive */
@media (max-width: 1200px) {
    .product-item {
        width: 220px; /* Reducir el ancho en pantallas más pequeñas */
    }
}

@media (max-width: 992px) {
    .product-item {
        width: 200px; /* Reducir el ancho en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .product-item {
        width: 400px; /* Reducir el ancho en tablets */
    }
}

@media (max-width: 576px) {
    .product-item {
        width: 350px; /* Reducir el ancho en móviles */
    }
}


/* Estilos para el ícono del carrito */
#cart-icon {
    position: relative;
    cursor: pointer;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
    padding: 5px;
    border-radius: 50%;
}

/* Estilos para el carrito desplegable */
.cart-dropdown {
    position: fixed;
    top: 70px; /* Ajusta según la altura de tu navbar */
    right: 20px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none; /* Oculto por defecto */
    border-radius: 10px;
}

.cart-dropdown h3 {
    margin-top: 0;
    font-size: 18px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

#cart-items li {
    margin-bottom: 10px;
    font-size: 14px;
}

#send-whatsapp {
    width: 100%;
    margin-top: 10px;
}



  

  